:host {
  width: 100%;
  overflow: auto;
}

.tarifs-body {
  margin: auto;
  padding: 24px 100px;
}

.card-media {
  width: 100px;
}

.card-media-list {
  display: flex;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card-content {
  align-self: center;
  margin: 8px;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  background-color: rgb(212, 212, 212);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
