<div class="tarifs-body">
  <h2>Services offerts</h2>
  <p>
    Notre équipe est spécialisé en traitements spécifiques selon les pathologies suivantes : 
    lombalgie, dorsalgie, sciatalgie, cervicalgie, problématiques musculo-squelettiques, récupération
    après chirurgie et posture. Nous offrons également les soins suivants.
  </p>

  <mdc-card class="card-thick-outline" [outlined]=true>
    <div *ngFor="let service of services">
      <mdc-list-divider *ngIf="service != services[0]"></mdc-list-divider>
      <div class="card-media-list">
        <div class="card-media mdc-card__media mdc-card__media--square" [style.background-image]="service.photo">
        </div>
        <div class="card-content">
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      </div>
    </div>
  </mdc-card>
</div>