@import "@material/elevation/mdc-elevation";
@import "../../styles/variables";

:host {
  width: 100%;
  overflow: auto;
  @include mdc-elevation($mdc-host-elevation);
  z-index: 0;
}

.tarifs-body {
  margin: auto;
  padding: 24px 100px;
  padding-top: 0;
  text-align: justify;
}

.table {
  width: -webkit-fill-available;
  border: medium;
}

.table-price-col {
  text-align: right;
}

.call-message {
  text-align: center;
}
