@use '@material/button';
@use '@material/ripple/_index' as ripple;
@import '../../styles/variables';
@import "@material/elevation/mdc-elevation";

:host {
  width: 100%;
  overflow: auto;
  @include mdc-elevation($mdc-host-elevation);
  z-index: 0;
}

.contact-body {
  padding: 24px 100px;
  padding-top: 0;
  margin: auto;
}

.card-media {
  background-image: url('/assets/building.jpg');
}

.card-contact {
  margin: 10px 10px;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: currentColor;
}

.facebook-link {
  color:#4267B2;
}

.table {
  border: medium;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
