<div class="contact-body">
  <mdc-card class="card-thick-outline card-contact" [outlined]=true>
    <div class="card-media mdc-card__media mdc-card__media--16-9"></div>
    <div class="card-content">
      <a href="tel:514-513-2856"><span class="material-icons">phone</span> 514-513-2856</a>
      <p><span class="material-icons">mail</span> lumygeorge@gmail.com</p>
      <p><span class="material-icons">location_on</span> 2400 Av. de l'Esplanade suite 204, Mascouche QC, J7K 0K9 </p>
      <a href="http://www.facebook.com/KynesioLux" class="facebook-link"><i class="fab fa-facebook material-icons"></i> Visitez notre page
        Facebook!</a>
    </div>
    <mdc-card-actions>
      <button (click)="openMaps()" mdc-button mdcCardAction="button">
        <span class="material-icons">map</span>
        Ouvrir dans Google Maps
      </button>
    </mdc-card-actions>
  </mdc-card>

  
  <mdc-card class="card-thick-outline card-contact card-content" [outlined]=true>
    <h2>Horaire</h2>
    <mdc-data-table>
      <table mdcDataTableTable>
        <thead>
          <tr mdcDataTableHeaderRow>
            <th mdcDataTableHeaderCell>Jour</th>
            <th mdcDataTableHeaderCell>Heures</th>
          </tr>
        </thead>
        <tbody mdcDataTableContent>
          <tr mdcDataTableRow *ngFor="let schedule of openHours">
            <td mdcDataTableCell>{{schedule.day}}</td>
            <td mdcDataTableCell>{{schedule.hours}}</td>
          </tr>
        </tbody>
      </table>
    </mdc-data-table>
  </mdc-card>
</div>