@use '@material/list/_index' as list;
@use '@material/drawer';
@import "@material/ripple/";
@import "../styles/variables";

.drawer-view-container {
    height: 100%;
    display: flex;
}

.drawer {
    @include drawer.fill-color-accessible($mdc-theme-primary);
    @include drawer.z-index(0);

    .mdc-list {
        margin: 50px 5px auto 0px;
    }

    .mdc-list-item {
        justify-content: center;
        color: $mdc-theme-on-primary;
        margin-left: 0px;
    }

    // This needs 3-class specificity to override MDC Drawer styles
    .mdc-list .mdc-list-item {
        @include states-activated(#fff);
    }
}

.topbar {
    @include drawer.fill-color-accessible($mdc-theme-primary);

    .mdc-list-item {
        color: $mdc-theme-on-primary;
        margin-left: 0px;
    }

    // This needs 3-class specificity to override MDC Drawer styles
    .mdc-list .mdc-list-item {
        @include states-activated(#fff);
    }

    display: none;

}

.show-shadow {
    box-shadow: 0 0px 20px 0px rgb(0, 0, 0);
}

.topbar-title {
    box-shadow: 0 0px 8px 0px rgb(0, 0, 0);
}

.topbar-list {
    margin-right: 24px;
    display: none;
}

.logo {
    width: auto;
    height: auto;
}

.phone {
    text-align: center;
    margin-top: 0;
    color: $mdc-theme-on-primary;
}

.svg-logo {
    text-align: center;
}

svg {
    fill: $mdc-theme-on-primary;
}

.list--shaped {
    @include list.single-line-shape-radius(0 50px 50px 0);
}

a {
    text-decoration: none;
    color: currentColor;
}

.svg-logo-topbar {
    height: 50%;
}

@media (max-width: 1000px) {
    .drawer {
        display: none;
    }

    .topbar {
        display: block;
    }
}
