@import "../../styles/variables";
@import "@material/elevation/mdc-elevation";
:host {
  width: 100%;
  overflow: auto;
  @include mdc-elevation($mdc-host-elevation);
  z-index: 0;
}

.services-offered-body {
  margin: auto;
  padding: 24px 100px;
  padding-top: 0;
}

.card-media {
  width: 60px;
  border-radius: 100px;
  margin: 5px;
  height: max-content;
  flex-shrink: 0;
}

.card-media-list {
  display: flex;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card-content {
  margin: auto 12px;
}

.card-content-description {
  padding: 24px;
}

.card-content-description > p {
  margin: 0 0 0 0;
}

.content {
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.shadow {
  box-shadow: inset 0 8px 6px -6px rgb(172, 172, 172);
}

@media (max-width: 1000px) {
  .services-offered-body {
    padding: 24px;
    margin-top: 55px;
  }

  .headline3 {
    font-size: 2em;
    margin-top: 0;
  }
}