/* You can add global styles to this file, and also import other style files */
@use "./styles/variables" as *;

@use '@material/theme' with (
  $primary: $mdc-theme-primary,
  $secondary: $mdc-theme-secondary,
  $background: $mdc-theme-background,

  $on-primary: $mdc-theme-on-primary,
  $on-secondary: $mdc-theme-on-secondary,
);

// MDC Typography
@use '@material/typography/mdc-typography';
@use './styles/typography';

// MDC Button
@use './styles/button';

// MDC Drawer
@use './styles/drawer';

// MDC card
@use './styles/card';

// Angular MDC
@use '@angular-mdc/theme/material';

// MDC data-table
@use './styles/data-table';

// MDC list
@use '@material/list/mdc-list';
@use '@material/list';

// MDC elevation
@use '@material/elevation/mdc-elevation';

@import './styles/body';

