/* You can add global styles to this file, and also import other style files */
@use "./styles/variables" as *;

@use '@material/theme' with (
  $primary: $mdc-theme-primary,
  $secondary: $mdc-theme-secondary,
  $background: $mdc-theme-background,

  $on-primary: $mdc-theme-on-primary,
  $on-secondary: $mdc-theme-on-secondary,
);

@use '@angular-mdc/theme/material';
@use '@material/typography/mdc-typography';
@use '@material/list/mdc-list';
@use '@material/list';
@use '@material/elevation/mdc-elevation';
@use '@material/shape';
@use './styles/typography';
@use './styles/button';
@use './styles/drawer';
@use './styles/card';
@use './styles/data-table';
@use './styles/top-app-bar';

@import './styles/body';

button:focus {
  outline: none;
  box-shadow: none;
}