.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/massage_back.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

:host {
  width: 100%;
  overflow: auto;
}

#hero-title {
  font-weight: 400;
  font-size: 50px;
}

.accueil-body {
  margin: auto;
  padding: 24px 100px;
}

#intro {
  text-align: justify;
  text-justify: inter-word;
}

.card-media {
  width: 200px;
  transform: translate(-1px, 0px);
  border-radius: 100px;
  margin: 10px
}

.card-media-list {
  display: flex;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card-content {
  align-self: center;
  margin: 16px;
}